In [1]:
import pandas as pd

In [6]:
df_bl = pd.read_excel("G:/TPD/FC/CRM/RNB/RNB2021/QC/broken_link_check_history/broken_link_check_v1_17-9-2020.xlsm")

In [7]:
df_bl

       RNB files with broken links
0    30_11-8 S Krafla_RNB2021.xlsm
1         35_2-1 Peon_RNB2021.xlsm
2     6406_2-7 Erlend_RNB2021.xlsm
3     6407_7-8 Noatun_RNB2021.xlsm
4       6507_3-8 Gjøk_RNB2021.xlsm
5     6507_8-9 Carmen_RNB2021.xlsm
6   6705_10-1 Asterix_RNB2021.xlsm
7   7219_8-2 Iskrystall_RNB2021.xl
8    7220_4-1 Kramsnø_RNB2021.xlsm
9     7220_5-3 Skruis_RNB2021.xlsm
10   7220_7-2 S Skavl_RNB2021.xlsm
11   7324_8-1 Wisting_RNB2021.xlsm
12     Aasta Hansteen_RNB2021.xlsm
13              Bauge_RNB2021.xlsm
14               Fram_RNB2021.xlsm
15             Gudrun_RNB2021.xlsm
16               Hyme_RNB2021.xlsm
17     Johan Castberg_RNB2021.xlsm
18            Kristin_RNB2021.xlsm
19              Sigyn_RNB2021.xlsm
20              Skuld_RNB2021.xlsm
21      Sleipner Vest_RNB2021.xlsm
22       Sleipner Øst_RNB2021.xlsm
23             Visund_RNB2021.xlsm

In [8]:
df_pl = pd.read_excel("C:/Users/nabm/Downloads/Equinor Project list RNB and Centuries.xlsm")

In [9]:
df_pl

                Unnamed: 0 Unnamed: 1
0                      NaN        NaN
1          RNB\nField name      OD_ID
2    15/3-12 A Sigrun East       1001
3    15/3-12 S Sigrun East       1002
4            15/3-4 Sigrun         94
..                     ...        ...
135             Visund Sør        373
136                  Volve        132
137             Yttergryta        339
138                 Åsgard         26
139            Grand Total        NaN

[140 rows x 2 columns]

In [10]:
df_cl = pd.read_excel("C:/Users/nabm/Downloads/Contact list Norway - RNB STAR SMV.xlsm")

In [11]:
df_cl

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,SUBSURFACE INPUT,NaN,ECONOMY INPUT,NaN,ENVIRONMENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Country,STAR and RNB name,SMV name,RNB and STAR,Quarterly well reporting,SMV,RNB,SMV,RNB\nEquinor contact,...,RNB team site area,SMV team site area,STEA SMV site,Organisation unit,Block / area,Operator,RNB TYPE,PSA,Resource class pr 31.12.2020,CRM main contact\n(Please use GM RNB or GM For...
2,NaN,Norway,15/3-4 Sigrun,NaN,Kristin Olava Tokvam,NaN,NaN,NaN,NaN,NaN,...,Discoveries South,NaN,NaN,DPN OTE PNF,NaN,Equinor,Discovery,NaN,7F,Hilde Merete Løvskar
3,NaN,NaN,15/3-12 A Sigrun East,NaN,Jørn-Atle Erichsen,NaN,NaN,NaN,NaN,Demeke Wasie,...,Discoveries South,NaN,NaN,EXP NOR ANS,NaN,Equinor,Discovery,NaN,6,Hilde Merete Løvskar
4,NaN,NaN,15/3-12 S Sigrun East,NaN,Jørn-Atle Erichsen,NaN,NaN,NaN,NaN,Demeke Wasie,...,Discoveries South,NaN,NaN,EXP NOR ANS,NaN,Equinor,Discovery,NaN,7F,Hilde Merete Løvskar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,"* Ideally, we need three different signatures,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,"* However, there will be some fields/projects ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,* Remember - the person signing off any of the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,"* Also, keep in mind that the person signing s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_cl.drop(columns=['Unnamed: 0', 'Unnamed: 1'], inplace=True)

In [14]:
df_cl

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,SUBSURFACE INPUT,NaN,ECONOMY INPUT,NaN,ENVIRONMENT,APPROVER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STAR and RNB name,SMV name,RNB and STAR,Quarterly well reporting,SMV,RNB,SMV,RNB\nEquinor contact,RNB and STAR \nSubsurface\n,RNB \nEconomy (Controller),...,RNB team site area,SMV team site area,STEA SMV site,Organisation unit,Block / area,Operator,RNB TYPE,PSA,Resource class pr 31.12.2020,CRM main contact\n(Please use GM RNB or GM For...
2,15/3-4 Sigrun,NaN,Kristin Olava Tokvam,NaN,NaN,NaN,NaN,NaN,Thorvald Jakobsen,NaN,...,Discoveries South,NaN,NaN,DPN OTE PNF,NaN,Equinor,Discovery,NaN,7F,Hilde Merete Løvskar
3,15/3-12 A Sigrun East,NaN,Jørn-Atle Erichsen,NaN,NaN,NaN,NaN,Demeke Wasie,NaN,NaN,...,Discoveries South,NaN,NaN,EXP NOR ANS,NaN,Equinor,Discovery,NaN,6,Hilde Merete Løvskar
4,15/3-12 S Sigrun East,NaN,Jørn-Atle Erichsen,NaN,NaN,NaN,NaN,Demeke Wasie,NaN,NaN,...,Discoveries South,NaN,NaN,EXP NOR ANS,NaN,Equinor,Discovery,NaN,7F,Hilde Merete Løvskar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN